

<!-- Javascript goes in the document HEAD -->
<script type="text/javascript">
function altRows(id){
  if(document.getElementsByTagName){

    var table = document.getElementById(id);
    var rows = table.getElementsByTagName("tr");

    for(i = 0; i < rows.length; i++){
      if(i % 2 == 0){
        rows[i].className = "evenrowcolor";
      }else{
        rows[i].className = "oddrowcolor";
      }
    }
  }
}
window.onload=function(){
  altRows('alternatecolor');
}
</script>

<!-- CSS goes in the document HEAD or added to your external stylesheet -->
<div class="content-wrapper">
  <div class="content-main">
      <div class="job-tbl-head">
          <div class="job-tbl-head-txt">
              Current Openings
            </div>
<div class="job-tbl-head-btn2">
              Training
            </div>
<div class="job-tbl-head-btn1">
              Future Jobs
            </div>
        </div>
        <div class="job-tbl">


          <table width="100%" border="0" id="alternatecolor" cellspacing="0" cellpadding="0" style="margin-bottom:300px;">
  <tr>
    <th width="17%" align="left">Job Title</th>
    <th width="44%" align="left">Description</th>
    <th width="15%" align="left">Company</th>
    <th width="13%" align="left">Valid Date</th>
    <th width="11%" align="center">Apply</th>
  </tr>
   <% @jobs.each do |j| %>
  <tr>
    <td class="jobs"><%= j.title%></td>
    <td> <%= j.desc %></td>
    <td class="company"><%=j.name %></td>
    <td class="expiry"><%=j.validdate%></td>
    <td align="center" valign="middle">
      <a href="/jobregistrations/<%= j.id %>">Apply Job </a></td>
  </tr>
  <% end %>
          </table>

      </div>
  </div>
</div>